body {
	font-size: 100%;
	font-weight: normal;
	font-family: PFDinTextPro-Regular, Helvetica, Arial, sans-serif;
}

div[role="application"] {
	margin: 0 auto;
	width: 60%;
}

header {
	margin-top: 75px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D1D1D1;
}

h1 {
	color: #009ADA;
	margin: 0;
	text-transform: uppercase;
	font-family: PFDinTextPro-Bold, Helvetica, Arial, sans-serif;
	font-size: 3em;
	font-weight: normal;
}

.bike1 {
	display: inline-block;
	vertical-align: top;
	margin-top: -30px;
	border: 0;
 	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background: url(../images/zdsprite.png) no-repeat 0 0;
	width: 113px;
	height: 77px;
}

.bike2 {
	display: inline-block;
	vertical-align: top;
	margin-top: -20px;
	border: 0;
 	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background: url(../images/zdsprite.png) no-repeat 0 -77px;
	width: 113px;
	height: 65px;
}

.bart {
	color: #000;
}

h2 {
	color: #8C8C8C;
	margin: 0;
	font-family: PFDinTextPro-Light, Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0.1em;
}

time {
	color: #6CAEC9;
}

#result {
	color: #C55200;
	font-style: italic;
}

section[role="main"] {
	color: #5C5C5C;
	padding: 75px 0;
	font-family: PFDinTextPro-Light, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 2.5em;
	line-height: 1.5em;
}

section[role="main"] p {
	margin: 0;
}

.blink {
	visibility: hidden;
}

footer {
	font-family: Arial;
	font-size: 0.8em;
	font-style: italic;
	color: #A3A3A3;
	padding: 15px 0;
	border-top: 1px solid #D1D1D1;
	clear: both;
}

footer p {
	margin: 0;
	line-height: 1.2em;
}

footer a:link {
	color: #5D5D5D;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}

footer a:visited {
	color: #5D5D5D;
}

footer a:hover {
	color: #009ADA;
}

footer a:active {
	color: #6CAEC9;
}

#attribution {
	float: left;
}

#copyright {
	float: right;
}

#ticker {
	font-family: PFDinTextPro-Regular, Arial, sans-serif;
	float: right;
}

.zendesk-logo {
	display: inline-block;
	vertical-align: top;
	margin-top: -4px;
	border: 0;
 	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background: url(../images/zdsprite.png) no-repeat 0 -142px;
	width: 67px;
	height: 17px;
}

a.zendesk-logo:hover {
	opacity: 0.7;
}

@media only screen and (max-width: 950px) {
    div[role="application"] {
    	width: 95%;
    }
}

@media only screen and (max-width: 520px) {
	body {
		font-size: 75%;
	}

	header {
		margin-top: 10px;
	}

	h1 {
		font-size: 1.75em;
	}

	h2 {
		display: none;
	}

	.bike1 {
		margin-top: -7px;
		background: url(../images/zdsprite.png) no-repeat 0 -159px;
		width: 40px;
		height: 28px;
	}

	.bike2 {
		margin-top: -4px;
		background: url(../images/zdsprite.png) no-repeat 0 -187px;
		width: 40px;
		height: 23px;
	}

	section[role="main"] {
		padding: 10px 0;
		font-size: 2em;
	}

	select {
    	width: 100%;
    }
}